.header {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 6%;
}

.btn_box {
    .btn {
        background-color: #0f2bffbf;
        color: #fff;
        margin: 0px 5px;
    }
}
.change_file_design{
    position: relative;
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
//Tabulator styles override

.tabulator {
   font-size: 12px;
   border: none;
}

.tabulator .tabulator-header {
   font-weight: normal;
   border-bottom: 1px solid;
   border-bottom-color: rgba(0, 0, 0, 0.12);
   color: rgba(0, 0, 0, 0.54);
}

.tabulator .tabulator-header .tabulator-col {
   height: 48px;
   background-color: #ffffff;
   border: none;
   padding: 0 7px;
}

.tabulator-row {
   border-bottom: 1px solid;
   border-bottom-color: rgba(0, 0, 0, 0.12);
   min-height: 48px;
   vertical-align: middle;
}

.tabulator-row .tabulator-cell {
   padding: 16px 7px;
   border-right: none;
   vertical-align: middle;
}

.tabulator-row .tabulator-cell:first-of-type,
.tabulator .tabulator-header .tabulator-col:first-of-type {
   padding-left: 24px;
}

.tabulator-row.tabulator-row-even {
   background-color: #ffffff;
}
::ng-deep .custom_btn{
   padding:2px;
   border: none;
width: 26px;
height: 26px;
   border-radius: 4px;

}
::ng-deep .edit-button{
   background: #555;
}
::ng-deep .delete-button{
   background: #FF5B5B;
}
::ng-deep .map-button{
   background: #1664C5;
}
.map {
   width: 100%;
   height: 200px;
 }